# Virtual Environment
venv/
env/
ENV/
.venv

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Jupyter Notebooks
.ipynb_checkpoints/

# Data files
*.csv
*.xlsx
data/raw/*

# Models
*.pkl
*.h5
*.joblib

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db